body {
	font-family: Arial, Helvetica, sans-serif;
	margin: 0;
	padding: 0;
  }
  
  #header-container {
	background-color:  rgb(0, 0, 0);
	color: white;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 20px;
  }
  
  #header-container h1 {
	font-size: 36px;
	margin: 0;
  }

  #photo-container {
	text-align: center;
	align-items: center;
  	justify-content: center;
	height: 100vh;
	margin: 0 auto;
	background-color:  rgb(0, 0, 0);
	color: #ccc;
	font-size: 22px;
  }
  
  #photo-container img {
	width: 200px;
	height: 200px;
  }

  .about-me {
	background-color: white;
	font-size: 1cm;
	font-style:oblique;
	color: black;
	text-align: center;
	align-items: center;
  }
  
  
  nav {
	background-color: rgb(0, 0, 0);
	/* Use the flexbox layout */
	display: flex;
	/* Align the items to the top of the flex container */
	align-items: flex-start;
	justify-content: flex-end;
	font-size: 18px;
  }
  
  nav ul {
	display: flex;
	list-style: none;
	margin: 0;
	padding: 0;
	font-size: 20px;
  }
  
  nav li {
	margin-right: 10px;
  }
  
  nav a {
	color: rgb(248, 240, 240);
	text-decoration: none;
  }
  
  nav li a:hover {
	animation: blink 3s linear infinite;
  }
  
  h2 {
	margin: 0;
	padding: 0;
  }
  h2 {
	color: white;
	font-size: 3rem;
	text-align: center;
  }
  section {
	height: 100vh;
  }

  .tag {
	opacity: 0;
	transform: translate(0, 100vh);
	transition: all 1s;
  }
  
  .tag.visible {
	opacity: 1;
	transform: translate(0, 0);
  }  

#about {
	background-color: lightyellow;
  }
  #experience {
	background-color: lightcoral;
  }
  #education {
	background-color: lightblue;
  }
  #skills {
	background-color: lightgreen;
  }
  
  
  footer {
	background-color: rgb(10, 14, 18);
	color: #ccc;
	 /* Set the left, right, and bottom values to 0 to anchor the footer to the bottom of the page */
	 left: 0;
	 right: 0;
	 bottom: 0;
	justify-content: center;
	text-align: center;
	padding: 0;
  }

  #social-media-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.social-media-icon {
	max-width: 17px;
  	max-height: 17px;
	padding: 7px;
	margin:7px;
}

 

  @keyframes blink {
	50% {
	  color: transparent;
	}
  }  

  @media (max-width: 600px) {
	main {
	  flex-direction: column;
	}
	section {
	  margin: 20px 0;
	  width: auto;
	}
  }
  